mixin fonts(items)
  each item in items
    link(rel='preload' href=`${dirs.fonts}${item}.woff2` as='font')

mixin stylesheets(items)
  each item in items
    link(rel="stylesheet" href=`${dirs.stylesheets}${item}.min.css`)

mixin icons(items)
  each item in items
    link(rel=`${item.rel}` type='image/png' sizes=`${item.sizes}` href=`${dirs.images}${item.name}.png`)

block head
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    +fonts([''])
    +stylesheets(['style'])
    +icons([
      {rel: 'apple-touch-icon', sizes: '180x180', name: 'apple-touch-icon'},
      {rel: 'icon', sizes: '32x32', name: 'favicon-32x32'},
      {rel: 'icon', sizes: '16x16', name: 'favicon-16x16'}
    ])
    title #{currentPageTitle}
