footer.footer
  .container
    .footer__wrapper
      a.footer__logo(href=mainPage ? null : site.index.href)
        svg(width='128' height='24' role='img' aria-label='На главную')
          use(href=`${path.sprite}#logo-footer`)

      .footer__wrapper-socials
        ul.footer__socials-list
          li
            a.footer__socials-link(href='#')
              svg.footer__socials-img.footer__socials-img--vk(width='23' height='16' role='img' aria-label='В контакте')
                use(href=`${path.sprite}#icon-vk`)
          li
            a.footer__socials-link(href='#')
              svg.footer__socials-img.footer__socials-img--insta(width='16' height='16' role='img' aria-label='Инстаграм')
                use(href=`${path.sprite}#icon-insta`)
          li
            a.footer__socials-link(href='#')
              svg.footer__socials-img.footer__socials-img--fb(width='10' height='18' role='img' aria-label='Фэйсбук')
                use(href=`${path.sprite}#icon-fb`)

      p.footer__wrapper-links
        a.footer__academy-link(href='https://htmlacademy.ru/intensive/adaptive') HTML Academy
          span.visually-hidden Онлайн‑курс HTML и CSS. Адаптивная вёрстка и автоматизация
        a.footer__academy-img-link(href='https://htmlacademy.ru/intensive/adaptive')
          svg(width='27' height='34' role='img' aria-label=
            'Онлайн‑курс HTML и CSS. Адаптивная вёрстка и автоматизация')
            use(href=`${path.sprite}#htmlacademy`)
