mixin menu(items)
  ul.menu
    each item in items
      li.menu__item
        a.menu__link(
          class=currentPageHref===item.href ? 'menu__item--active' : null
          href=currentPageHref===item.href ? null : item.href
        ) #{item.name}

header.header
  nav.nav
    a.nav__logo-cat(href=mainPage ? null : site.index.href)
      svg(width='34' height='38' role='img' aria-label='На главную')
        use(xlink:href='#logo-mobile')
    a.nav__logo-text(href=mainPage ? null : site.index.href)
      svg(width='101' height='18' role='img' aria-label='На главную')
        use(xlink:href='#logo-footer')

    button.nav__toggle(type='button') Открыть меню
      span.visually-hidden Открыть меню

    +menu([
      {href: "index.html", name: "Главная"},
      {href: "catalog.html", name: "Каталог продукции"},
      {href: "form.html", name: "Подбор программы"}
    ])
