mixin menu-link(href, name)
  a.menu__link(
    class=currentPageHref===href ? 'menu__link--active' : null
    href=currentPageHref===href ? null : href
  ) #{name}

header.header(class=currentPageHref==="index.html" ? 'header--bg-green' : null)
  nav.nav.nav--closed.nav--nojs
    .nav__wrapper
      a.nav__logo(href=mainPage ? null : site.index.href)
        svg(width='191' height='38' role='img' aria-label='На главную')
          use(href=`${path.sprite}#logo-mobile`)

      button.nav__toggle(type='button')
        span.visually-hidden Открыть меню

    ul.menu
      li
        +menu-link('index.html', 'Главная')
      li
        +menu-link('catalog.html', 'Каталог продукции')
      li
        +menu-link('form.html', 'Подбор программы')
