mixin product(item)
  article.product
    - var productTitle = `Cat Energy ${item.type} ${item.weight} г`;
    - var imgSizeName = item.weight === 500 ? "small" : "big";
    - var imgName = `${item.tasteImgName}-${imgSizeName}-mobile@1x.jpg`;

    img.product__img(
      src=`${path.images}${imgName}`
      width='140' height='144'
      alt=`${productTitle}рамм ${item.taste}`
    )

    h3.product__title= productTitle
    dl.product__properties
      .product__properties-row
        dt.product__properties-item Масса
        dd.product__properties-item #{item.weight} г
      .product__properties-row
        dt.product__properties-item Вкус
        dd.product__properties-item #{item.taste}
      .product__properties-row
        dt.product__properties-item Цена
        dd.product__properties-item #{item.price} Р.
    +button-type1('Заказать', '#')

section.products
  h2.products__title.heading-big #{site.catalog.title}
  ul.products__list
    li.products__item
      +product({
        type: "pro",
        weight: 500,
        taste: "Курица",
        tasteImgName: "chicken",
        price: 700,
        })
    li.products__item
      +product({
        type: "pro",
        weight: 1000,
        taste: "Курица",
        tasteImgName: "chicken",
        price: 1000,
        })
    li.products__item
      +product({
        type: "pro",
        weight: 500,
        taste: "Рыба",
        tasteImgName: "fish",
        price: 700,
        })
    li.products__item
      +product({
        type: "pro",
        weight: 1000,
        taste: "Рыба",
        tasteImgName: "fish",
        price: 1000,
        })
    li.products__item
      +product({
        type: "slim",
        weight: 500,
        taste: "Гречка",
        tasteImgName: "buckwheat",
        price: 400,
        })
    li.products__item
      +product({
        type: "slim",
        weight: 1000,
        taste: "Гречка",
        tasteImgName: "buckwheat",
        price: 700,
        })
    li.products__item
      +product({
        type: "slim",
        weight: 500,
        taste: "Рис",
        tasteImgName: "rice",
        price: 500,
        })

    li.products__item
      svg(width='30' height='30')
        use(href=`${path.sprite}#icon-plus`)
      h3.product__title Показать еще 100500 товаров
      p.product__properties-item На самом деле вкусов гораздо больше!
      +button-type2('Показать все', '#').showmore__button
