mixin product(item)
  li.product
    - var productName = `Cat Energy ${item.type} ${item.weight} г`;
    - var imgSizeName = item.weight === 500 ? "small" : "big";
    - var imgName = `${item.tasteImgName}-${imgSizeName}-mobile@1x.jpg`;

    img.product__img(
      src=`${dirs.images}${imgName}`
      width='140' height='144'
      alt=`${productName}рамм ${item.taste}`
    )

    h3.product__name= productName
    dl.product__properties
      .product__properties-row
        dt.product__properties-item Масса
        dd.product__properties-item #{item.weight} г
      .product__properties-row
        dt.product__properties-item Вкус
        dd.product__properties-item #{item.taste}
      .product__properties-row
        dt.product__properties-item Цена
        dd.product__properties-item #{item.price} Р.
    +button-type1('Заказать', '#').product__button

section.products
  h2.products__title.heading-big #{site.catalog.title}
  ul.products__list
    +product({
      type: "pro",
      weight: 500,
      taste: "Курица",
      tasteImgName: "chicken",
      price: 700,
      })
    +product({
      type: "pro",
      weight: 1000,
      taste: "Курица",
      tasteImgName: "chicken",
      price: 1000,
      })
    +product({
      type: "pro",
      weight: 500,
      taste: "Рыба",
      tasteImgName: "fish",
      price: 700,
      })
    +product({
      type: "pro",
      weight: 1000,
      taste: "Рыба",
      tasteImgName: "fish",
      price: 1000,
      })
    +product({
      type: "slim",
      weight: 500,
      taste: "Гречка",
      tasteImgName: "buckwheat",
      price: 400,
      })
    +product({
      type: "slim",
      weight: 1000,
      taste: "Гречка",
      tasteImgName: "buckwheat",
      price: 700,
      })
    +product({
      type: "slim",
      weight: 500,
      taste: "Рис",
      tasteImgName: "rice",
      price: 500,
      })

    li.product
      h3.product__name Показать еще 100500 товаров
      p.product__properties-item На самом деле вкусов гораздо больше!
      +button-type2('Показать все', '#').showmore__button
