include ../blocks/buttons.pug

mixin product(item)
  li.product
    - var productName = `Cat Energy ${item.type} ${item.weight} г`;
    //- Получаются такие имена: "img/product-pro-1000-chicken.png"
    - var imgName = `product-${item.type}-${item.weight}-${item.tasteImgName}`;

    img(
      src=`${dirs.images}${imgName}.png`
      width='' height=''
      alt=`${productName}рамм ${item.taste}`
    )

    h3.products__name= productName
    dl
      dt Масса
      dd #{item.weight} г
      dt Вкус
      dd #{item.taste}
      dt Цена
      dd #{item.price} Р.
    +button-type1('Заказать', '#').product__button

section.products
  h2.products__title.section-title #{site.catalog.title}
  ul
    +product({
      type: "pro",
      weight: 500,
      taste: "Курица",
      tasteImgName: "chicken",
      price: 700,
      })
    +product({
      type: "pro",
      weight: 1000,
      taste: "Курица",
      tasteImgName: "chicken",
      price: 1000,
      })
    +product({
      type: "pro",
      weight: 500,
      taste: "Рыба",
      tasteImgName: "fish",
      price: 700,
      })
    +product({
      type: "pro",
      weight: 1000,
      taste: "Рыба",
      tasteImgName: "fish",
      price: 1000,
      })
    +product({
      type: "slim",
      weight: 500,
      taste: "Гречка",
      tasteImgName: "buckwheat",
      price: 400,
      })
    +product({
      type: "slim",
      weight: 1000,
      taste: "Гречка",
      tasteImgName: "buckwheat",
      price: 700,
      })
    +product({
      type: "slim",
      weight: 500,
      taste: "Рис",
      tasteImgName: "rice",
      price: 500,
      })

    li.showmore
      h3.showmore__title Показать еще 100500 товаров
      p.showmore__desc На самом деле вкусов гораздо больше!
      +button-type2('Показать все', '#').showmore__button
