mixin form-text(text, name)
  label.form-text(class=`selection__row-${name}`)
    span.form-text__text= text
    input.form-text__input&attributes(attributes)

mixin form-radio(text)
  label.form-radio.selection__row-radio
    input.form-radio__input.visually-hidden&attributes(attributes)
    span.form-radio__icon
    span.form-radio__text= text

mixin form-checkbox(text)
  label.form-checkbox
    input.form-checkbox__input.visually-hidden&attributes(attributes)
    span.form-checkbox__icon
    span.form-checkbox__text= text

section.selection
  .container
    h2.selection__title.heading-big #{site.form.title}
  .container.container--narrow
    p.selection__desc Заполните анкету, и мы подберем программу питания для вашего кота

  form(method='post' action='https://echo.htmlacademy.ru')
    .selection__wrapper-base-purpose
      fieldset.selection__fieldset-base
        legend.visually-hidden Данные кота
        +form-text('Имя:*', 'base')(name='name' value='Барсик' type='text' required)
        +form-text('Вес (кг):*', 'base')(name='weight' value='7' type='number' min='0' required)
        +form-text('Возраст (лет):', 'base')(name='age' value='7' type='number' min='0')

      fieldset.selection__fieldset-purpose
        legend.visually-hidden Данные кота
        +form-radio('Похудение')(name='purpose' value='weight-loss' type='radio' checked)
        +form-radio('Набор массы')(name='purpose' value='weight-gain' type='radio')
        +form-radio('Не знаю (Нужен ваш совет)')(name='purpose' value='dont-know' type='radio')


    .container.container--narrow
      .heading-line.selection__subtitle-contacts
        h3.heading-line__text Контактные данные<br>(владельца кота)
      fieldset.selection__fieldset-contacts
        .selection__grid-contacts
          legend.visually-hidden Контактные данные владельца кота
          label.form-text.form-text--email.selection__row-contacts
            span.form-text__text E-mail:*
            input.form-text__input.form-text__input--icon(name='email' value='kuklachev@gmail.com' type='email' required)
            svg.form-text__img.form-text__img--email(width='17' height='13')
              use(href=`${path.sprite}#icon-mail`)
          label.form-text.form-text--email.selection__row-contacts
            span.form-text__text Телефон:*
            input.form-text__input.form-text__input--icon(name='tel' value='8 (960) 900-60-90' type='tel' required)
            svg.form-text__img.form-text__img--phone(width='20' height='20')
              use(href=`${path.sprite}#icon-phone`)

    .container.container--narrow
      .heading-line.selection__subtitle-comment
        h3.heading-line__text Комментарий
      fieldset.selection__fieldset-comment
        textarea.selection__comment(name='comment' placeholder='Расскажите обо всех повадках кота')

    .container.container--narrow
      .heading-line.selection__subtitle-additionally
        h3.heading-line__text Дополнительно
      fieldset.selection__fieldset-additionally
        .selection__grid-additionally
          +form-checkbox('Сахарозаменитель')(name='sugar-substitute' type='checkbox' checked)
          +form-checkbox('Питьевая вода')(name='drinking-water' type='checkbox')
          +form-checkbox('Молоко')(name='milk' type='checkbox')
          +form-checkbox('Витамины')(name='vitamins' type='checkbox')

      .selection__wrapper-submit
        +button-submit('Отправить заявку')(href='#' type='submit').selection__submit-btn
        p.selection__required * — Обязательные поля
